<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="footer-evthj">
        <div class="infos-div">
            <div class="social">
                <a href="https://github.com/caiomlima" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/caiomoreiralima/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <p class="info-criador">© Caio M. Lima, feito com <i class="fas fa-heart"></i></p>
            </div>
        </div>
    </div>

    <!-- Credit to https://epicbootstrap.com/snippets/footer-basic -->

</body>

</html>