<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Evento - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>


    <h1>Novo Evento</h1>

    <form action="#" th:action="@{/salvar-evento}" th:object="${evento}" method="POST">
        <label for="nomeEvt">Nome do evento</label>
        <input type="text" id="nomeEvt" th:field="*{nomeEvt}" name="nomeEvt"><br><br>

        <label for="descEvt">Descrição do evento</label>
        <textarea type="text" id="descEvt" th:field="*{descEvt}" name="descEvt" rows="10" cols="80">
            
        </textarea><br><br>

        <label for="dataEvt">Data do evento</label>
        <input type="text" id="dataEvt" th:field="*{dataEvt}" name="dataEvt" inputmode="numeric" placeholder="__/__/____"><br><br>

        <label for="qtdPessEvt">Quantidade de pessoas do evento</label>
        <select id="qtdPessEvt" th:field="*{qtdPessEvt}" name="qtdPessEvt">
            <option value="Até 10 pessoas">Até 10 pessoas</option>
            <option value="Até 50 pessoas">Até 50 pessoas</option>
            <option value="Até 100 pessoas">Até 100 pessoas</option>
            <option value="Até 250 pessoas">Até 250 pessoas</option>
            <option value="Até 500 pessoas">Até 500 pessoas</option>
            <option value="Mais de 500 pessoas">Mais de 500 pessoas</option>
        </select><br><br>

        <label for="regiaoEvt">Região do evento</label>
        <select id="regiaoEvt" th:field="*{regiaoEvt}" name="regiaoEvt">
            <option value="Zona Norte">Zona Norte</option>
            <option value="Zona Sul">Zona Sul</option>
            <option value="Zona Leste">Zona Leste</option>
            <option value="Zona Oeste">Zona Oeste</option>
            <option value="Centro">Centro</option>
        </select><br><br>

        <label for="endrcEvt">Endereço / Local do evento</label>
        <input type="text" id="endrcEvt" th:field="*{endrcEvt}" name="endrcEvt"><br><br>

        <h3>
            Colocar foto do evento com blob mais tarde
        </h3>
        <br>
        <br>

        <button type="submit" style="cursor: pointer;" class="button" value="CriarEvt">Criar Evento</button>
    </form>


    <div th:replace="fragments/footer"></div>

</body>

</html>