<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>


    <form action="#" th:action="@{/concluir-cadastro/adm}" th:object="${adm}" method="POST">
        <label for="nomeAdm">Nome de ADM (Empresa organizadora de eentos)</label>
        <input type="text" id="nomeAdm" th:field="*{nomeAdm}" name="nomeAdm"><br><br>

        <label for="emailAdm">Email</label>
        <input type="text" id="emailAdm" th:field="*{emailAdm}" name="emailAdm"><br><br>

        <label for="senhaAdm">Senha</label>
        <input type="text" id="senhaAdm" th:field="*{senhaAdm}" name="senhaAdm"><br><br>

        <label for="descAdm">Desc. da empresa</label>
        <input type="text" id="descAdm" th:field="*{descAdm}" name="descAdm"><br><br>


        <button type="submit" style="cursor: pointer;" class="button" value="CadastrarNovoAdm">Concluir cadastro</button>
    </form>


    <div th:replace="fragments/footer"></div>

</body>

</html>