<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>  

    <div class="details-container">

        <div class="details-nome">
            <h2 th:text="${evento.nomeEvt}"></h2>
        </div>

        <div class="details-infos-container">

            <div class="details-img" style="text-align: center;">
                imagem eeeee
            </div>

            <div class="details-infos">
                <div class="details-org dtls">
                    <span>Organizador: </span>
                    <span th:text="${evento.orgEvt}"></span>
                </div>

                <div class="details-catg dtls">
                    <span>Tipo de evento: </span>
                    <span th:text="${evento.categoriaEvt}"></span>
                </div>
    
                <div class="details-datainic dtls">
                    <span>Data de inicio: </span>
                    <span th:text="${#dates.format(evento.dataInicioEvt, 'dd/MM/yyy')}"></span>
                </div>
    
                <div class="details-datafim dtls">
                    <span>Data de encerramento: </span>
                    <span th:text="${#dates.format(evento.dataFimEvt, 'dd/MM/yyy')}"></span>
                </div>
    
                <div class="details-regiao dtls">
                    <span>Região do evento: </span>
                    <span th:text="${evento.regiaoEvt}"></span>
                </div>
    
                <div class="details-local dtls">
                    <span>Local do evento: </span>
                    <span th:text="${evento.localEvt}"></span>
                </div>
    
                <div class="details-cep dtls">
                    <span>CEP do local: </span>
                    <span th:text="${evento.cepEvt}"></span>
                </div>
    
                <div class="details-complemento dtls">
                    <span>Complemento do endereço: </span>
                    <span th:text="${evento.complEvt}"></span>
                </div>
    
                <div class="details-qtdpess dtls">
                    <span>Quantidade de pessoas: </span>
                    <span th:text="${evento.qtdPessEvt}"></span>
                </div>
            </div>

        </div>

        <div class="details-desc">
            <h2 class="details-desc-title">Descrição do evento</h2> 

            <h2 class="details-desc-text" th:text="${evento.descEvt}" style="position: relative; bottom: 0;"></h2>
        </div>

    </div>

    
    <!-- <div th:replace="fragments/footer"></div> -->

</body>

</html>

</table>