<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="signup-container">

        <div class="right-signup"></div>

        <div class="form-signup-container">

            <form action="#" th:action="@{/concluir-cadastro}" th:object="${usr}" method="POST" autocomplete="off">

                <h3 class="home-redirect"> <a class="home-redirect-link" href="/">EVTHJ</a> </h3>
                <p>Bem vindo(a), cadastre-se para gerenciar seus eventos</p>
        
                <div class="floating-input">
                    <label for="nomeUsr">Nome</label>
                    <input type="text" id="nome-signup" th:field="*{nomeUsr}" name="nomeUsr" placeholder="Digite seu nome">
                    <p th:if="${#fields.hasErrors('nomeUsr')}" th:errors="*{nomeUsr}">Erro nome</p>
                </div>
        
                <div class="floating-input">
                    <label for="emailUsr">E-mail</label>
                    <input type="text" id="emai-signup" th:field="*{emailUsr}" name="emailUsr" placeholder="Digite seu e-mail">
                    <p th:if="${#fields.hasErrors('emailUsr')}" th:errors="*{emailUsr}">Erro email</p>
                </div>
        
                <div class="floating-input">
                    <label for="senhaUsr">Senha</label>
                    <input type="password" id="password-signup" th:field="*{senhaUsr}" name="senhaUsr" placeholder="Digite uma senha">
                    <p th:if="${#fields.hasErrors('senhaUsr')}" th:errors="*{senhaUsr}">Erro senha</p>
                </div>
        
                <button type="submit" style="cursor: pointer;" class="button-form login-btn" value="CadastrarNovoUsr">Concluir cadastro</button>

                <p class="signin-redirect"> <a class="signin-redirect-link" href="/login">Login</a> </p>
        
            </form>

        </div>

    </div>

</body>

</html>