<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Eventos Hoje, a sua plataforma principal para encontrar eventos na capital de São paulo">
    <meta name="author" content="Caio M. Lima"> <!-- Pessoa que escreveu o artigo -->
    <title>Home - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>

</head>

<body>
    <div th:replace="fragments/header"></div>


    <div class="home-container">

        <a href="/eventos">
            <div class="index-eventos-banner">
                Veja todos os eventos disponíveis no momento
            </div>
        </a>

        <div class="index-bottom-banners">
            <!-- <a href="/categorias" class="index-categoriasevt-banner">
                <div>
                    Navegue pelas categorias dos eventos
                </div>
            </a> -->
    
            <a href="/minha-area" class="index-criarevt-banner">
                <div >
                    Crie e publique seus eventos
                </div>
            </a>

        </div>

    </div>


    <div th:replace="fragments/footer"></div>

</body>

</html>