<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de eventos - Eventos Hoje</title>
</head>

<body>

    <h1>Eventos</h1>

    <div class="eventos-list">
        Lista de eventos ativos no momento
    </div>

    <br>

    <table class="eventos-table">
        <thead>
            <tr>
                <th>Nome do evento</th>
                <th>Descrição do evento</th>
                <th>Data do evento</th>
                <th>Endereço do evento</th>
                <th>Região do evento</th>
                <th>Quantidade de pessoas no evento</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="evento : ${evt}">
                <td th:text="${evento.nome_evt}"></td>
                <td th:text="${evento.desc_evt}"></td>
                <td th:text="${evento.data_evt}"></td>
                <td th:text="${evento.endereco_evt}"></td>
                <td th:text="${evento.regiao_evt}"></td>
                <td th:text="${evento.qtd_pessoas_evt}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>