<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de eventos - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>


    <h1>Eventos</h1>

    <div class="eventos-list">
        Lista de eventos ativos no momento
    </div>

    <br>

    <table>
        <thead>
            <tr>
                <th>Nome do evento</th>
                <th>Descrição do evento</th>
                <th>Data do evento</th>
                <th>Endereço do evento</th>
                <th>Região do evento</th>
                <th>Quantidade de pessoas no evento</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="evento : ${evt}">
                <td th:text="${evento.nome_evt}"></td>
                <td th:text="${evento.desc_evt}"></td>
                <td th:text="${evento.data_evt}"></td>
                <td th:text="${evento.endereco_evt}"></td>
                <td th:text="${evento.regiao_evt}"></td>
                <td th:text="${evento.qtd_pessoas_evt}"></td>
                <td>
                    <a type="button" class="btn-up" th:href="@{/editar-evento/{id_evt}(id_evt=${evento.id_evt})}">Update</a>
                    <a type="button" class="btn-del" th:href="@{/excluir-evento/{id_evt}(id_evt=${evento.id_evt})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>


    <div th:replace="fragments/footer"></div>

</body>

</html>