<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- <div th:replace="fragments/header"></div> -->


    <div class="login-container">

        <div class="left-login"></div>

        <div class="form-login-container" autocomplete="off">

            <form th:action="@{/login}" method="POST" id="form-login">

                <h3 class="home-redirect"> <a class="home-redirect-link" href="/">EVTHJ</a> </h3>
                <p>Bem vindo(a), faça login para gerenciar seus eventos</p>

                <div class="floating-input one">
                    <label for="email">E-mail</label>
                    <input type="text" id="email-login" name="email" placeholder="Digite seu e-mail">    
                </div>

                <div class="floating-input">
                    <label for="password">Senha</label>
                    <input type="password" id="password-login" name="password" placeholder="Digite sua senha">
                </div>

                <button type="submit" style="cursor: pointer;" class="button-form login-btn" value="FazerLogin">Fazer Login</button>

                <p class="signup-redirect"> <a class="signup-redirect-link" href="/cadastre-se">Cadastre-se</a> </p>
    
            </form>

        </div>
    
    </div>


    <!-- <div th:replace="fragments/footer"></div> -->

</body>

</html>