<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Eventos Hoje</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/cdf8c5431e.js" crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>


    <form action="#" th:method="@{/login}" method="POST">

        <label for="emailUsr">E-mail</label>
        <input type="text" id="emailUsr" name="emailUsr">

        <label for="senhaUsr">Senha</label>
        <input type="text" id="senhaUsr" name="senhaUsr">

        <button type="submit" style="cursor: pointer;" class="button" value="FazerLoginUsuario">Fazer Login</button>

    </form>

    <div th:replace="fragments/footer"></div>

</body>

</html>